.lane {
  flex: 1;
  display: flex;
  flex-direction: column;
  height: 100%;
  position: relative;
  border-right: 1px solid var(--color-neutral-200);
  background-color: var(--color-primary-50);
}

.lane:last-child {
  border-right: none;
}

.header {
  padding: var(--space-4);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.playerName {
  font-size: var(--text-lg);
  font-weight: 700;
  color: var(--color-neutral-500);
}

.score {
  font-size: var(--text-2xl);
  font-weight: 700;
  color: var(--color-primary-500);
}

.gameArea {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  position: relative;
  padding: var(--space-4);
}

.inputDisplay {
  font-size: var(--text-3xl);
  font-family: monospace;
  height: 3rem;
  margin-bottom: var(--space-4);
  color: var(--color-primary-500);
  font-weight: 700;
}

.controls {
  padding: var(--space-2);
  padding-bottom: var(--space-4);
}
